# project files
backup.cmd
devBase.php
dev

# phpstorm project files
.idea
views/vuejs/node_modules
views/vuejs/dist

web/vuejs/node_modules
web/vuejs/dist

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

#img
/web/img/upload

#storage
/web/storage

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml
